<!DOCTYPE html>
<html lang="en">
	<head>
		<title>New page</title>
	</head>
	
	<body>
		<h1>Create a new page</h1>
		<p>To create a new page, fill the following fields of text.<br />
		In the content field, input your markdown code of the page.<br />
		To finish creating your new page, click the "Create Page" button.</p>
		
		<form action="{% url 'new' %}" method="POST">
			{% csrf_token %}
			{{ create_entry_form.non_field_errors }}
			
			<div>	<!--Title form section-->
				{{ create_entry_form.title.errors}}
				{{ create_entry_form.title.label_tag}}<br />
				{{ create_entry_form.title }}
			</div> <br />
			
			<div>	<!--content form section-->
				{{ create_entry_form.content.errors}}
				{{ create_entry_form.content.label_tag}}<br />
				{{ create_entry_form.content }}
			</div>
			
			<input type="submit" value="Create Page">
		</form>
		
		<a href="{% url 'index' %}">Discard and go to main page</a>
	</body>
</html>
